{% extends "layout.html" %}

{% block head %}
<title>cyberbullyingdetection</title>
{% endblock %}
{% block body %}

<div id="nav3">
	<h1 class="cover-heading">CyberShield</h1>
	<h4></h4>
	&nbsp


	<div class="large-8 columns">
	<form action="/submit_message" method="post">
	  <textarea placeholder="Enter your comment here" name="message" cols="120" rows="25"></textarea>
	  <div class="inner cover">
	    <p class="lead">
	      <input type="submit" value="Submit">
	    </p>
	  </div>
	</form>
	</div>

	<p>
	  <a href="{{ url_for('about') }}">About</a>
	</p>


</div>



<div class="main_block" >

 <div class="inner_block">
 <a href=/static/img/img1.png>
  <img src=/static/img/img1.png>
 </a>
 </div>

 <div class="inner_block">
 <a href=/static/img/img2.png>
  <img src=/static/img/img2.png>
 </a>
 </div>

<div class="inner_block">
 <a href=/static/img/img3.png>
  <img src=/static/img/img3.png>
 </a>
 </div>

</div>



{% endblock %}
